By Ibiwumi D.Kolawole
Data Analyst / Food Scientist
Topic: Healthcare Utilization and Cost Patterns by Demographics, Diagnosis, and Insurance Status
This healthcare dataset provides insights into the following areas:
The average cost of treatment across various diagnoses.
The most common diagnoses among different age groups and genders.
The departments with the highest and lowest number of patients.
The departments with the highest and lowest total treatment costs.
The cost differences between insured and uninsured paents.
s?

In [1]:
import pandas as pd

In [2]:
health_data=pd.read_csv('Healthcare-diagnosis.csv', delimiter=';')
health_data.head(3)

  Patient_ID Gender  Age Diagnosis Department  Treatment_Cost Insurance
0    HID1000  Other   19  Diabetes  Emergency         1405.54       Yes
1    HID1001   Male   20  Fracture  Emergency         3530.27        No
2    HID1002   Male   23  Fracture  Emergency         4532.63       Yes

Analysing the number of patients that each department received

In [3]:
department_by_no_of_patients=health_data.groupby('Department')['Patient_ID'].count()
department_by_no_of_patients

Department
Cardiology     376
Emergency      438
General        393
Orthopedics    404
Pediatrics     389
Name: Patient_ID, dtype: int64

Counting the number of patients per diagnosis

In [4]:
diagnosis_by_no_of_patients=health_data.groupby('Diagnosis')['Patient_ID'].count()
diagnosis_by_no_of_patients

Diagnosis
Asthma          329
Covid-19        309
Diabetes        326
Flu             323
Fracture        371
Hypertension    342
Name: Patient_ID, dtype: int64

Analysing the department that receive the highest and lowest number of patients

In [5]:
department_with_patients_no=health_data.groupby('Department')['Diagnosis'].count()
department_with_maxnumber_of_patients=department_with_patients_no.idxmax()
department_maximum_no=department_with_patients_no.max()
print(f"The department with the highest number of patient:{department_with_maxnumber_of_patients}({department_maximum_no})")

The department with the highest number of patient:Emergency(438)

In [6]:
department_with_patients_no=health_data.groupby('Department')['Diagnosis'].count()
department_with_minnumber_of_patients=department_with_patients_no.idxmin()
department_minimum_no=department_with_patients_no.min()
print(f"The department with the lowest number of patient:{department_with_minnumber_of_patients}({department_minimum_no})")

The department with the lowest number of patient:Cardiology(376)

Finding the average cost of treatment per diagnosis

In [7]:
treatment_per_diagnosis=health_data.groupby('Diagnosis')['Treatment_Cost'].mean().round(2)
treatment_per_diagnosis

Diagnosis
Asthma          2533.63
Covid-19        2603.26
Diabetes        2527.23
Flu             2447.38
Fracture        2642.13
Hypertension    2492.77
Name: Treatment_Cost, dtype: float64

Finding the average cost of treament per department

In [8]:
treatment_per_department=health_data.groupby('Department')['Treatment_Cost'].mean().round(2)
treatment_per_department

Department
Cardiology     2726.90
Emergency      2449.30
General        2506.36
Orthopedics    2556.21
Pediatrics     2491.78
Name: Treatment_Cost, dtype: float64

diagnosis by on gender

In [9]:
diagnosis_by_gender=health_data.groupby(['Gender','Diagnosis']).size().unstack().fillna(0)
diagnosis_by_gender

Diagnosis  Asthma  Covid-19  Diabetes  Flu  Fracture  Hypertension
Gender
Female        107       100       125  110       124           109
Male          115       101        90   96       123           118
Other         107       108       111  117       124           115

Analysing the age of the patients

In [10]:
maximum_age=health_data['Age'].max()
average_age=health_data['Age'].mean()
minimum_age=health_data['Age'].min()
print(f"The maximum age is: {maximum_age}")
print(f"The averageage age is: {average_age}")
print(f"The minimum age is:{minimum_age}")

The maximum age is: 100
The averageage age is: 51.0805
The minimum age is:0

Analysing the diagnoses in each age group

In [11]:
bins = [0, 18, 35, 50, 65, 100]
labels = ['0-18', '19-35', '36-50', '51-65', '66+']
health_data['Age_Group'] = pd.cut(health_data['Age'], bins=bins, labels=labels)
health_data['Age_Group']

0       19-35
1       19-35
2       19-35
3         66+
4         66+
        ...
1995    36-50
1996    36-50
1997    36-50
1998     0-18
1999    36-50
Name: Age_Group, Length: 2000, dtype: category
Categories (5, object): ['0-18' < '19-35' < '36-50' < '51-65' < '66+']

In [12]:
diagnosis_by_age_group = health_data.groupby(['Age_Group', 'Diagnosis'],observed=True).size().unstack().fillna(0)
diagnosis_by_age_group

Diagnosis  Asthma  Covid-19  Diabetes  Flu  Fracture  Hypertension
Age_Group
0-18           55        47        51   62        65            64
19-35          45        49        63   42        60            45
36-50          57        50        47   55        57            58
51-65          54        51        47   51        50            53
66+           117       109       117  110       133           122

Analysig the department with highest and lowest cost of treatment

In [13]:
total_cost_by_department=health_data.groupby('Department')['Treatment_Cost'].sum()
highest_cost_department = total_cost_by_department.idxmax()
highest_cost_value = total_cost_by_department.max()
print(f"The department with the highest cost:{highest_cost_department}(${highest_cost_value:.2f})")

The department with the highest cost:Emergency($1072791.81)

In [14]:
total_cost_by_department=health_data.groupby('Department')['Treatment_Cost'].sum()
lowest_cost_department = total_cost_by_department.idxmin()
lowest_cost_value = total_cost_by_department.min()
print(f"The department with the lowest cost:{lowest_cost_department}(${lowest_cost_value:.2f})")

The department with the lowest cost:Pediatrics($969300.69)

Calculating the percentage of insured patients within each department and diagnosis

In [15]:
insured_by_dept=health_data.groupby(['Department', 'Insurance']).size().unstack().fillna(0)
insured_by_dept['Insured_Percentage'] = (insured_by_dept['Yes'] / insured_by_dept.sum(axis=1) * 100).round(2)
insured_by_dept[['Yes', 'No', 'Insured_Percentage']]

Insurance    Yes   No  Insured_Percentage
Department
Cardiology   200  176               53.19
Emergency    216  222               49.32
General      202  191               51.40
Orthopedics  216  188               53.47
Pediatrics   187  202               48.07

In [16]:
insured_by_diagnosis=health_data.groupby(['Diagnosis', 'Insurance']).size().unstack().fillna(0)
insured_by_diagnosis['Insured_Percentage'] = (insured_by_diagnosis['Yes'] / insured_by_diagnosis.sum(axis=1) * 100).round(2)
insured_by_diagnosis[['Yes', 'No', 'Insured_Percentage']]

Insurance     Yes   No  Insured_Percentage
Diagnosis
Asthma        177  152               53.80
Covid-19      154  155               49.84
Diabetes      170  156               52.15
Flu           161  162               49.85
Fracture      178  193               47.98
Hypertension  181  161               52.92

Calculating the total treatment cost for insured versus uninsured patients within each diagnosis.

In [17]:
cost_by_diagnosis_insurance = health_data.groupby(['Diagnosis', 'Insurance'])['Treatment_Cost'].sum().unstack().fillna(0).round(2)
cost_by_diagnosis_insurance

Insurance            No        Yes
Diagnosis
Asthma        392946.45  440619.35
Covid-19      401717.19  402690.00
Diabetes      375172.74  448705.41
Flu           393420.63  397084.09
Fracture      497281.14  482948.49
Hypertension  416159.77  436368.70

Differences in the cost of treatment for each diagnosis with insurance and without insurance

In [18]:
cost_by_diagnosis_insurance['Difference'] = (cost_by_diagnosis_insurance['Yes'] - cost_by_diagnosis_insurance['No']).round(2)
cost_by_diagnosis_insurance['Difference']

Diagnosis
Asthma          47672.90
Covid-19          972.81
Diabetes        73532.67
Flu              3663.46
Fracture       -14332.65
Hypertension    20208.93
Name: Difference, dtype: float64

 Analysing if difference is statistically significant

In [19]:
from scipy.stats import ttest_ind

In [20]:
insured = health_data[health_data['Insurance'] == 'Yes']['Treatment_Cost']
uninsured = health_data[health_data['Insurance'] == 'No']['Treatment_Cost']
t_stat, p_value = ttest_ind(insured, uninsured, equal_var=False)
print(f"T-statistic: {t_stat:.2f}, P-value: {p_value:.4f}")

T-statistic: 0.39, P-value: 0.6953